/** Global Styles **/

 @font-face {
     
   font-family: 'Proxima Nova' ;
   src: url('Proxima-Nova.ttf') format('truetype');

}

 @font-face {

   font-family: 'Gothic' ;
   src: url('Raleway.ttf') format('truetype');

}


body {
    font-family: 'Proxima Nova';
    margin: 0 auto;
    max-width: 68em;
    background-color: RGB(163,218,231);
    
/*    background-image: url('../images/profilepic.jpg');*/
}




a {
    color: #F8B800;
}

a:hover {
    color: purple;
}

a:any-link {
    text-decoration: none;
}

h1 {
  font-size: 4em;
}
h2 {
  margin-top: 0;
}

.content-wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    color: RGB(24,79,92);

    
}


/*Header and footer*/
header, footer{
    background: RGB(35,91,153);
    color: #8D99AE;
}


/** More specific classes **/
header h1, header h2, header p{
    color: #FFFFFF;
}

footer p {
    color: white;
}


img {
    width: 20em;
    height: 20em; 
    border-radius: 50%;
/*    border-color: aliceblue;*/
    float: left;
    margin-right: 1em;
}

footer {
    text-align: center;   
    color: white;

}

header {
    text-align: center;
    clear: both;
}



.education, .experience, .projects {
    background: white;
}   
.skills, .awards {
    background: white;
}

